@import url(./fonts/fonts.css);

@font-face {
  font-family: 'Suisse';
  src: url('./fonts/suisse.woff') format('woff');
}

body {
  margin: 0;
  /* font-family: 'Suisse', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'IBM Plex Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

p, h1, h2, h3 {
  margin: 0;
}